html {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
  color: white;
  height: 100%;
  margin: 0;
  text-align: center;
  width: 100%;
}

section {
  text-align: start;
}

.item {
  background: linear-gradient(#fff, rgb(235, 235, 235));
  color: black;
}

h1 {
  font-size: 40px;
  margin-top: 3em;
}

h3 {
  font-size: 25px;
}

a {
  color: white;
  font-family: 'Raleway', sans-serif;
}

a:visited {
  color: white;
}

@media (max-width: 700px) {
  h1 {
    margin-top: 1.5em;
  }
}
